:root {
    --editor-lineNumber: #bbbbbb;
    --editor-comment: #808080;
    --editor-keyword: #ebac00;
    --editor-subroutine: #8100eb;
    --editor-variable: #0076eb;
}

pynaut-editor {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

pynaut-editor, pynaut-editor * {
    font-family: "Noto Sans Mono", monospace;
}

textarea[pynaut-data] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-inline-start: 3rem;
    border: none;
    background-color: transparent;
    color: transparent;
    caret-color: black;
    white-space: pre;
    outline: 0;
    font-size: 1rem;
}

pynaut-scroll {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

pynaut-code {
    display: block;
    width: 100%;
    min-height: 100%;
    counter-reset: line;
    outline: none;
}

div[pynaut-line] {
    display: block;
    white-space: pre;
    counter-increment: line;
}

div[pynaut-line]::before {
    position: sticky;
    display: inline-block;
    width: 2rem;
    left: 0;
    padding-inline-end: 1rem;
    text-align: end;
    background-color: var(--primaryBackground);
    color: var(--editor-lineNumber);
    content: counter(line);
}

div[pynaut-line] br {
    display: none;
}

div[pynaut-line] span[pynaut-type="comment"] {
    color: var(--editor-comment);
    font-style: italic;
}

div[pynaut-line] span[pynaut-type="keyword"] {
    color: var(--editor-keyword);
}

div[pynaut-line] span[pynaut-type="subroutine"] {
    color: var(--editor-subroutine);
}

div[pynaut-line] span[pynaut-type="variable"] {
    color: var(--editor-variable);
}